 
body {
  background-color: rgb(197, 239, 250) ;
  
}

div.a{  
  background-color: aliceblue;
  margin-top: 20% ;
  margin-bottom: 20%;
  margin-left: 14%;
  margin-right: 14%;
  border-radius: 25px;
}



div.b{
background-color: rgb(6, 58, 107); 
float: right;
width: 49%;
border-radius: 0px 25px 25px 45px;

}